
    <div class="master">
        <div class="begin">
            <div class="begin_box">
                <div class="begin_left">
                    <div>欢迎来到Fist 商城</div>
                    <div class="login">请登录</div>
                    <div class="registered">请注册</div>
                </div>
                <div class="begin_right">
                    <div class="dropdown">
                        <div class="dropdown_content">卖家中心</div>
                        <div class="dropdown_list">
                            <a href="#">成长中心</a>
                            <a href="#">订单管理</a>
                            <a href="#">商品管理</a>
                            <a href="#">营销管理</a>
                            <a href="#">店铺管理</a>
                        </div>
                    </div>
                    <div class="buyer">
                        <div class="buyer_center">买家中心</div>
                        <div class="buyer_list">
                            <a href="#">收货中心</a>
                            <a href="#">订单管理</a>
                            <a href="#">优惠券</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 头部 -->

        <div id="header">
            <div class="header_tab">
                <div class="logo"><img src="./assets/favicon/Fist.png" alt="#"/></div>
                <div class="search_bar">
                    <div class="search_bars">
                        <input type="text" class="search_input" placeholder="请输入你想要的货物">
                        <img src="./assets/images/main_top/Camera.png" alt="#">
                        <button class="search_button">搜索</button>
                    </div>
                    <div class="expanded_box"></div>
                </div>
                <div class="img_right"><img src="./assets/favicon/Fist.png" alt="#"/></div>
            </div>
        </div>
        <div class="header_navbar">
            <div class="scroll_container">
                <div class="box box_one">推荐</div>
                <div class="box">手机</div>
                <div class="box">办公电脑</div>
                <div class="box">食品</div>
                <div class="box">着装</div>
                <div class="box">数码</div>
                <div class="box">生鲜</div>
                <div class="box">家电</div>
                <div class="box">运动</div>
                <div class="box">鞋子</div>
                <div class="box">图书</div>
                <div class="box">家具</div>
                <div class="box">零食</div>
                <div class="box">玩具</div>
            </div>
            <button class="end-marker"><img src="./assets/images/main_top/li.png" alt="#"/></button>
        </div>
    </div>

    <div class="Exploitation" style="display: none">
        <img src="./assets/images/Exploitation/Exploitation.jpg" alt="敬请期待" class="Exploitation" />
    </div>


    <div class="app" style="display: flex">
        <div class="commodity_box">
            <div class="commodity"></div>
            <div class="commodity_item"></div>
        </div>

        <!-- 轮播图 -->
        <div class="middle" id="middle">
            <div class="slide">
                <a href="javascript:;" class="slide_box"><img src="./assets/images/Carousel/1.jpg" alt="#"></a>
                <a href="javascript:;" class="prev"><img src="./assets/images/Carousel/button_left.png" alt="#"></a>
                <a href="javascript:;" class="next"><img src="./assets/images/Carousel/button_right.png" alt="#"></a>
                <ul class="banner">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <!-- 限时秒杀 -->
            <div class="promotion" id="promotion">
                <div class="down_left">
                    <div class="title">Fist 秒杀</div>
                    <div class="desc">18:00点场距结束</div>
                    <div class="timer">
                        <span class="day"></span>
                        <span class="first"></span>
                        <span class="second"></span>
                        <span class="end"></span>
                    </div>
                </div>
                <div class="down_right">
                    <img src="./assets/images/Carousel/1.jpg" alt="#"/>
                </div>
            </div>
        </div>

        <div class="login_tar">
            <div class="login_box">
                <img src="./assets/images/Scroll/avatar.jpg" alt="Logo" />
                <div class="container">
                    <h2></h2>
                    <div class="container_box">
                        <button class="container_box_one"></button>
                    </div>
                </div>
            </div>
            <div class="login_button">
                <h3>登录Fist后更多优惠</h3>
                <p>登录可享，专属优惠，贴心推荐！</p>
                <button>立即登录</button>
            </div>
            <div class="login_list">
                <p>商品热卖</p>
                <div class="login_text"></div>
            </div>
        </div>
    </div>

    <div class="tabs" id="tabs" style="display: block">
        <div class="tabs-header">
            <h3 class="tabs-title">猜你喜欢</h3>
        </div>
        <div class="tabs-content">
            <ul class="tabs-list">
                <li class="tab">
                    <div class="tab_box">
                        <img src="./assets/images/Recommend/header/DM_1.png" class="tab_img" alt="#"/>
                    </div>
                    <div class="tab_lis">
                        <div class="tab-title">为你精选</div>
                        <div class="tab-description">猜你喜欢</div>
                    </div><hr class="vertical-line">
                </li>
                
                <li class="tab">
                    <div class="tab_box">
                        <img src="./assets/images/Recommend/header/DM_2.png" class="tab_img" alt="#"/>
                    </div>
                    <div class="tab_lis">
                        <div class="tab-title">智能先锋</div>
                        <div class="tab-description">大电器城</div>
                    </div><hr class="vertical-line">
                </li>
                
                <li class="tab">
                    <div class="tab_box">
                        <img src="./assets/images/Recommend/header/DM_3.png" class="tab_img" alt="#"/>
                    </div>
                    <div class="tab_lis">
                        <div class="tab-title">居家优品</div>
                        <div class="tab-description">品质生活</div>
                    </div><hr class="vertical-line">
                </li>
                
                <li class="tab">
                    <div class="tab_box">
                        <img src="./assets/images/Recommend/header/DM_4.png" class="tab_img" alt="#"/>
                    </div>
                    <div class="tab_lis">
                        <div class="tab-title">超市百货</div>
                        <div class="tab-description">百货生鲜</div>
                    </div><hr class="vertical-line">
                </li>
                
                <li class="tab">
                    <div class="tab_box">
                        <img src="./assets/images/Recommend/header/DM_5.png" class="tab_img" alt="#"/>
                    </div>
                    <div class="tab_lis">
                        <div class="tab-title">时尚达人</div>
                        <div class="tab-description">美妆穿搭</div>
                    </div><hr class="vertical-line">
                </li>
                
                <li class="tab">
                    <div class="tab_box">
                        <img src="./assets/images/Recommend/header/DM_6.png" class="tab_img" alt="#"/>
                    </div>
                    <div class="tab_lis">
                        <div class="tab-title">进口好物</div>
                        <div class="tab-description">Fist国际</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-area" style="display: block">
        <div class="content-item" style="display: block"></div>
        <div class="content-item" style="display: none"></div>
        <div class="content-item" style="display: none"></div>
        <div class="content-item" style="display: none"></div>
        <div class="content-item" style="display: none"></div>
        <div class="content-item" style="display: none"></div>
    </div>

