<div class="container">
    <div class="container_top">
        <div class="wrapper">
            <div class="filter_bar">
                <p>所选商品</p>
                <div class="header_checkbox">管理</div>
            </div>
        </div>
        <div class="cart">
            <!-- 生成商品的模板 -->
            <!-- <div class="cart_item">
                <div class="item_checkbox">
                    <input type="checkbox" class="checkbox_input">
                </div>

                <div class="item_image">
                    <img src="public/assets/images/Scroll/avatar.jpg" alt="1">
                </div>

                <div class="item_message">【2000张贴纸】贴纸书 3-6岁 贴画儿童</div>

                <div class="item_price">￥20.00</div>
                <div class="quantity_form">
                    <a href="javascript:;" class="decrement">-</a>
                    <input type="text" class="quantity_input" value="1">
                    <a href="javascript:;" class="increment">+</a>
                </div>
            </div> -->
        </div>

    </div>
    <div class="cart_footer">
        <div class="footer_checkbox">
            <input type="checkbox" id="checkall" class="checkall">
            <label for="checkall">全选</label>
        </div>

        <div class="footer_summary">
            <div class="selected_count">已选 1 件商品</div>
            <div class="total_price">总价: ￥0</div>
            <div class="checkout_button">去结算</div>
        </div>
    </div>
</div>
